
#The docker-compose.yml is just spinning up a Postgres service. This database can be reused by multiple DAGs.
version: '3'
services:
  postgres:
    image: postgres:13
    container_name: postgres_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes: 
      - postgres_data:/var/lib/postgresql/data
# volume above is bckup
volumes:
  postgres_data: